[Desktop Entry]
Encoding=UTF-8
Name=CWM
Comment=A clean and simple window manager for X inspired by evilwm
Exec=/usr/local/bin/cwm-autostart.sh
Type=XSession
